<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.ibooking.mapper.StudyRoomMapper">
    <resultMap id="stuRoom" type="com.huawei.ibooking.model.StudyRoomDO"/>

    <select id="getStudyRooms" resultMap="stuRoom">
        select id, stuRoomNumber, buildingNumber, classRoomNumber
        from tbl_study_room
    </select>

    <select id="getStudyRoom" resultMap="stuRoom" parameterType="java.lang.String">
        select id, stuRoomNumber, buildingNumber, classRoomNumber
        from tbl_study_room
        where stuRoomNumber = #{stuRoomNumber}
    </select>

    <!-- 插入或更新StudyRoom记录 -->
    <!-- <update id="saveStudyRoom" parameterType="com.huawei.ibooking.model.StudyRoomDO">
        MERGE INTO tbl_study_room AS target
        USING (SELECT 1) AS dummy
        ON (target.id = #{stuRoom.id})
        WHEN MATCHED THEN
            UPDATE SET buildingNumber = #{stuRoom.buildingNumber}, classRoomNumber = #{stuRoom.classRoomNumber}
        WHEN NOT MATCHED THEN
            INSERT (buildingNumber, classRoomNumber) VALUES (#{stuRoom.buildingNumber}, #{stuRoom.classRoomNumber})
    </update> -->
    <update id="saveStudyRoom" parameterType="com.huawei.ibooking.model.StudyRoomDO">
        merge into tbl_study_room (stuRoomNumber, buildingNumber, classRoomNumber) key (stuRoomNumber)
            values (#{stuRoom.stuRoomNumber}, #{stuRoom.buildingNumber}, #{stuRoom.classRoomNumber})
    </update>

    <!-- 根据id删除StudyRoom记录 -->
    <delete id="deleteStudyRoom" parameterType="java.lang.String">
        DELETE FROM tbl_study_room
        WHERE stuRoomNumber = #{stuRoomNumber}
    </delete>

</mapper>