<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.ibooking.mapper.StudentMapper">
    <resultMap id="stu" type="com.huawei.ibooking.model.StudentDO"/>

    <select id="getStudents" resultMap="stu">
        select id, stuNum, name, password, isAdmin, email
        from student
    </select>

    <select id="getStudent" resultMap="stu" parameterType="java.lang.String">
        select stuNum, name, password
        from student
        where stuNum = #{stuNum}
    </select>

    <update id="saveStudent" parameterType="com.huawei.ibooking.model.StudentDO">
        MERGE INTO student (stuNum, name, password, isAdmin, email)         KEY (stuNum)
        VALUES (#{stu.stuNum}, #{stu.name}, #{stu.password}, #{stu.isAdmin}, #{stu.email})
    </update>

    <delete id="deleteStudent" parameterType="java.lang.String">
        delete
        from student
        where stuNum = #{stuNum}
    </delete>
    
    <update id="register" parameterType="java.lang.String">
        insert into tbl_student (stuNum, name, password,isAdmin,email) 
            values (#{stuNum}, #{name}, #{password},#{isAdmin},#{email})
    </update>

    <select id="login" resultMap="stu" parameterType="java.lang.String">
        select id, stuNum, name, password,isAdmin
        from tbl_student
        where stuNum = #{stuNum} and password= #{password}
    </select>
</mapper>